.dashboard-head {
  margin-top: 2rem;
  margin-left: 7rem;
  height: 16rem;
  max-width: 70rem;
  h3 {
    font-family: "Montserrat";
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }
  p {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 300;
  }
}

.supported-description {
  height: 16rem;
}

.card-stores {
  box-shadow: 0 0 8px #ddd;
  .card-companies-all {
    margin-top:5rem;
  }
}

.btn-change-field {
  font-family: "Montserrat";
  font-weight: 500;
}
.btn-change-field:hover {
  color: #FF6100 !important;
  border-color: #FF6100 !important;
  transition: all 0.4s ease 0s;
}


.progress-text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 2rem;
}
