.researcher-container {
  font-family: "Montserrat";
  margin: 2rem 5rem;
}

.title-button {
  padding-bottom: 2rem;
  border-bottom: 1px gray solid;
  h1 {
    font-family: "Montserrat";
    font-weight: 700;
  }
}

.main-profile img {
  border-radius: 0.2rem;
  padding: 0;
  width: 24rem;
  // margin-top: 1.5rem;
}

#researcher-bio {
  padding-top: 0.5rem;
  font-size: 0.8rem;
  width: 24rem;
  text-align: justify;
  font-family: "Montserrat";
  font-weight: 300;
  padding-bottom: 1rem;
}

.researcher-university {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.researcher-lattes a:hover {
  font-weight:400;
}

.researcher-lattes a:hover {
  color: #FF6100;
}

.researcher-lattes a:visited {
  color: black;
}

.article-card {
  .card {
    border-radius: 0.3rem;
  }
  .article-field {
    opacity:0.7;
    text-align: right;
    margin-right: 1rem;
    .card-img {
      width: 4rem;
      box-shadow: 0 0.125rem 0.25rem 0rem rgba(0,0,0,0.6);
      position: relative;
      top: -0.25rem;
      margin-right: 0.5rem;
    }
  }
}

.card-body {
    h5 {
      font-family: "Montserrat";
      font-weight: 600;
      font-size: 1.2rem;
  }
}

.card-body p {
  font-family: "Montserrat";
  font-size: 0.7rem;
}
