<div class="banner">
  <div class="banner-container">
    <%= image_tag "saverz-vwhite.png" %>
    <h2>Get Discounts & Help Fund Research While Shopping</h2>
    <a class="arrow-link" href="#target">
      <div class="arrow-down mt-5 fas fa-5x fa-angle-double-down d-flex justify-content-center"></div>
    </a>
  </div>
</div>

