<div class="banner">
  <div class="container">
    <h1><strong>$averz</strong></h1>
    <p>Join Saverz. Support a researcher, get a coupon and save money.</p>
    <div id="search-banner">
      <%= render 'shared/search' %>
    </div>
  </div>
</div>

