<div class="banner">
  <div class="container">
    <%= image_tag "saverz-v2.png", style:"width: 300px;" %>
    <p>Get Discounts & Help Fund Research While Shopping</p>
    <div id="search-banner">
      <%= render 'shared/search' %>
    </div>
  </div>
</div>

