<div class="company-list">
  <% @companies.each do |company| %>
    <div class="each-company-card" >
      <div class="each-card-content">
      <%= link_to company.url, class: "company-image" do %>
        <img id="company-main-logo" src="<%= company.logo %>">
      <% end %>
      </div>
    </div>
  <% end %>
</div>
