
<div class="card-product mb-4">
  <div class="card-product-tag">
    <h2 class="my-auto"><%= coupon.code %></h2>
  </div>
  <div class="card-product-infos">
    <h2><%= coupon.title %></h2>
  </div>
  
  <%= cl_image_tag company.logo %>
</div>