
<div class="coupon-card mb-4">
  <h2><%= coupon.code %></h2>
  <p><%= coupon.title %></p>
  <i class="fas fa-copy copy-ico"></i>
  <%= link_to  coupon.tracking_url, target: :_blank do %><i class="fas fa-external-link-alt link-ico"></i><% end %>
</div>


