
<div class="card-product mb-4">
  <div class="card-product-tag">
    <h2 class="my-auto">Coupon Code</h2>
    <h3 class="my-auto"><%= coupon.code %></h3>
  </div>
  <div class="card-product-infos">
    <h2><%= coupon.title %></h2>
  </div>
  <div class="card-product-button">
    <%= cl_image_tag company.logo %>
    <button class="btn btn-secondary">Go To Store</button>
  </div>
</div>

