<button type="button" class="btn" data-target="#modal" data-toggle="modal" %>
  Support
</button>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="d-flex">
          <div class="notice d-flex flex-column container" style="font-family: 'Open Sans'; color: #292B3B">
            <br>
            <h3>Support the Researcher</h3>
            <br>

            <p>Download Chrome Extension to support your researcher and get coupons</p>
          </div>
        </div>

        <%= button_to supported_choices_path(researcher_id: @researcher), method: :post, target: :blank, class:"btn btn-danger" do %>
          <i class="fab fa-chrome"></i> &nbsp; Download Chrome Extension
        <% end %>
        <!-- <hr class="line"> -->
      </div>
      <br>
    </div>
  </div>
</div>
