<div class="search position-relative">
  <%= form_tag researcher_path(Researcher.first.id), method: :get do %>
    <%= text_field_tag :query,
                       params[:query],
                       class: "form-control",
                       'data-filter': @researchers.to_json,
                       placeholder: "FIND YOUR RESEARCHER" %>
    <%= button_tag(type: "submit", class: "search-btn p-0 btn btn-light position-absolute") do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
</div>


<% if false %>
  <input class="form-control" type="text" placeholder="Find your researcher" aria-label="Search">
  <button type="button" class="p-0 btn btn-light position-absolute">
  </button>
  <%= submit_tag "", class: "search-btn p-0 btn btn-light position-absolute" do %>
    <i class="fas fa-search"></i>
  <% end %>
<% end%>
