<div class="search position-relative">
  <%= form_tag new_supported_choice_path, method: :get do %>
    <%= text_field_tag :query,
                       params[:query],
                       class: "form-control",
                       'data-filter': '',
                       'data-researchers': @researchers.to_json,
                       placeholder: "FIND YOUR RESEARCHER" %>
    <%= button_tag(type: "submit", class: "search-btn p-0 btn btn-light position-absolute") do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
</div>


<% if false %>
  <input class="form-control" type="text" placeholder="Find your researcher" aria-label="Search">
  <button type="button" class="p-0 btn btn-light position-absolute">
  </button>
  <%= submit_tag "", class: "search-btn p-0 btn btn-light position-absolute" do %>
    <i class="fas fa-search"></i>
  <% end %>
<% end%>


<script>
  `sujao mas depois a gente exporta pra um arquivo.js`
  const query = document.getElementById('query')
  query.addEventListener('keyup', (event) => {
    const searchText = event.currentTarget.value

    console.log(searchText)
    console.log(event.currentTarget.dataset.filter)
    console.log(event.currentTarget.dataset.researchers)
  });
</script>
