<%= render 'shared/banner' %>

<div class="home-container">
  <div class="row d-flex justify-content-center pt-3">
    <h2>How does it work?</h2>
  </div>

  <div class="container">
    <div class="row how-works pt-3">
      <div class="col-md-3 px-3">
        <div class="card-how-works justify-content-center">
          <div class="round-icon d-flex justify-content-center">
            <span class="fa fa-2x fa-search d-flex justify-content-center"></span>
          </div>
          <h4 class="d-flex justify-content-center">Choose a Research</h4>
          <p class="d-flex justify-content-center">Choose a researcher or a field to support everytime you purchase.</p>
        </div>
      </div>

      <div class="col-md-3 px-3">
        <div class="card-how-works justify-content-center">
          <div class="round-icon d-flex justify-content-center">
            <span class="fa fa-2x fa-store d-flex justify-content-center"></span>
          </div>
          <h4 class="d-flex justify-content-center">Select a Store</h4>
          <p class="d-flex justify-content-center">Select the store you like and check all of their coupons.</p>
        </div>
      </div>

      <div class="col-md-3 px-3">
        <div class="card-how-works justify-content-center">
          <div class="round-icon d-flex justify-content-center">
            <span class="fa fa-2x fa-tags d-flex justify-content-center"></span>
          </div>
          <h4 class="d-flex justify-content-center">Save Money</h4>
          <p class="d-flex justify-content-center">Check all cupons avaiable that will help you and your researcher or field.</p>
        </div>
      </div>

      <div class="col-md-3 px-3">
        <div class="card-how-works justify-content-center">
          <div class="round-icon d-flex justify-content-center">
            <span class="fa fa-2x fa-donate d-flex justify-content-center"></span>
          </div>
          <h4 class="d-flex justify-content-center">Researcher Gains</h4>
          <p class="d-flex justify-content-center">A percentage of your purchase goes to the researcher or field.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<a id="target"><br></a>

<div class="text-center mt-5">
  <h2>Search Your Researcher Name ...</h2>
  <br>
</div>

<div class="search-banner">
  <div id="search-banner">
    <%= render 'shared/search' %>
  </div>
</div>

<div class="text-center mt-5">
  <h2>... Or Choose a UN Goal and Fund Research in That Area</h2>
</div>

<div class="container">
  <div class="row p-5">
    <% @fields.each do |field| %>
      <div class="col-md-3">
        <%= render "shared/popup_fields", field: field %>
      </div>
    <% end %>
  </div>
</div>

