<%= render 'shared/banner' %>

<div class="text-center mt-4">
  <h2> Don't Know What Field Support ? </h2>
  <br>
  <h4> See Most Supported Programs </h4>
</div>
<div class="row grid p-5">
  <% @fields.each do |field| %>

    <%#= link_to "#{field_choices_path}?field_id=#{field.id}", method: :post, 'data-confirm': "Do you?" do %>
      <%#= render "shared/card", field: field %>
    <%# end %>
    <%= render "shared/popup_fields", field: field %>
  <% end %>
</div>

