
<div class="d-flex">
  <p class="align-self-center mx-3 my-auto"><%= @coupons.count %> coupons found!</p>
  <%= cl_image_tag @company.logo %>
</div>

<div style="height: 10px;"></div>

<div class="mx-3 coupon-container">
  <% @coupons.each do |coupon| %>
    <%= render "shared/coupon_card", coupon: coupon %>
  <% end %>
</div>
