
<div style="height: 40px;"></div>


<div class="ml-5">
  <% @coupons.each do |coupon| %>
    <%= render "shared/coupon_card", coupon: coupon, company: @company %>
  <% end %>
</div>



<div class="modal fade" id="discountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="icon text-danger">
          <img src="" class="img-thumbnail">
        </div>
        <div class="notice">
          <h4>Get ${api} Discount</h4>
          <p>Copy the coupon to past at the cart and save.</p>

          <p><span class="badge badge-info">${API}</span> <button type="button" class="btn btn-danger">Copy</button></p>
        </div>
        <div class="store"></div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <%= link_to 'Go to the store', 'http://google.com', class: 'btn btn-danger', target: :blank %>
      </div>
    </div>
  </div>
</div>