<!-- Supported Cause  -->
<div class="container bootstrap-field-container">
  <div class="field-container d-flex">
      <div class="field-image mr-3">
        <%= cl_image_tag @field.photo, class: "card-img img-thumbnail card-design", alt: @field.photo %>
      </div>
      <div class="field-description flex-grow">
        <div class="card-body body-text">
          <h3 class="card-title title-field">You support</h3>
            <h3 class="title-name"><%= @field.name %></h3>
            <a class="btn px-0 mb-2" href="/">
              <i class="fa fa-chevron-circle-left hvr-icon hover-bump-left"></i> &nbsp; Change supported field
            </a>
            <p class="card-text">This field support studies on <%= @field.descritption.truncate(150) %></p>
        </div>




      </div>
    </div>
  </div>
</div>
<hr>
<!-- Companies here  -->
<div class="card-stores">
    <div class="text-center">
      <h1 class="header1">Stores</h1>
    </div>
  <br>
  <br>
  <br>

  <%= render 'shared/companies_cards' %>
</div>

<style>
  .header1 {
    color: #292B3B;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 2.5rem;
    border-color: #FF6100;
    border-bottom:
  }

  .btn-change-field {
    color: white;
    background-color: #FF6100;
    font-family: "Montserrat";
    font-weight: 700;
    border-color: #FF6100;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    border-radius: 3px;
  }
  .btn-change-field:hover {
    color: #ffffff !important;
    background: #F98B4F;
    border-color: #F98B4F !important;
    transition: all 0.4s ease 0s;
  }

  .hover-bump-left {
    transition: transform 0.25s;
  }

  .btn:hover .hover-bump-left {
    transform: translateX(-8px);
  }
  .card-design {
  width: 14em;
  border-radius: 1em;
  box-shadow: 5px 5px 10px 0px rgba(130,130,130,0.3);
  opacity: 0.7;
  }
  .body-text {
    color: #292B3B;
    text-justify: left;
    font-family: "Montserrat";
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0 1.25rem 1.25rem;
  }
  .title-field {
    font-family: "Montserrat";
    font-weight: 550;
    font-size: 2.5rem;
    text-align: left;
  }
  .title-name {
    font-family: "Montserrat";
    font-weight: 350;
    font-size: 2rem;
    text-align: left;
  }
  .card-body p {
    font-family: "Montserrat";
    font-size: 1rem;
  }
  .card-stores {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  box-sizing: border-box;
  border-color: #FF6100;
  }

</style>
