<!-- Supported Cause  -->
<div class="container bootstrap-field-container">
  <div class="field-container">

      <div class="field-image mr-3">
        <%= cl_image_tag @field.photo, class: "card-img img-thumbnail", alt: @field.photo %>
        <a class="mt-2 btn btn-primary btn-sm" href="/">Change Field</a>
      </div>
      <div class="field-description">
        <div class="card-body">
          <h3 class="card-title">Research Field Supported:
            <br>
            <%= @field.name %></h2>
          <p class="card-text">This field support studies on <%= @field.descritption.truncate(100) %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Companies here  -->

<br>
<br>
<br>
<br>
<div class="text-center">
  <h1 class="header1">MY COMPANIES</h1>
</div>
<br>
<br>
<br>
<br>
<br>

<div class="company-list">
  <%= render 'shared/companies_cards' %>
</div>
<br>
<br>
<br>
<br>

<style>
  .company-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }

  .header1 {
    color: #292B3B;
  }
</style>
