.banner {
  background-size: cover;
  background-position: top;
  padding: 6rem;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image-url('people-diversity.jpg');
  opacity: 0.8;
  color: white;
  h1 {
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  h2 {
    font-family: 'Open Sans';
    font-size: 28px;
    color: white;
    opacity: 0.8;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
    #search-banner {
    padding-top: 35px;
    width: 46em;
    opacity: 0.7;
  }
}

.nav_icon_page {
  height: 70px;
}
.banner h2 {
  margin-top: 14px;
}
