.banner {
  background-size: cover;
  background-position: top;
  padding: 1rem;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image-url('people-diversity.jpg');
  opacity: 0.8;
  color: white;
  img {
    width: 16rem;
    margin-top: 3rem;
    margin-left: 7rem;
  }
  h2 {
    font-family: 'Montserrat';
    font-size: 28px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin-bottom: 5rem;
    margin-left: 7rem;
  }
  .arrow-down {
    color: white;
    opacity: 0.7;
  }
  .arrow-down:hover {
    color: white;
    opacity: 1;
  }
  .arrow-down p:hover {
    color: none;
  }

  .arrow-down p:before {
    color: white;
  }

  .arrow-down p:hover {
    text-decoration: none;
  }

  .arrow-link:hover {
    text-decoration: none;
  }
}


