.company-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.each-company-card {
  text-align: center;
  height: 7em;
  border-radius: 10px;
  border-width: 10px;
}

.each-card-content {
  width: 50%;
  height: 5em;
  margin: 0 auto;
  border-radius: 10px;
  // border-width: 10px;
  // border-color: #FF6100;
}

#company-main-logo {
  margin: 0.5em 0;
  border-radius: 10px;
  background-color: transparent;
}
