
// Le Wagon Card Product Code

.card-product {
  max-width: 600px;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  h3 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  
  .card-product-tag {
    padding: 24px; 
    height: 100%; 
    width: 30%;
    border-right: 1px dashed #292B3B;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  // p-4 h-100 border-right d-flex flex-column

  .card-product-infos {
    padding: 24px;
    // overflow-wrap: break-word;
  }

  .card-product-button {
    height: 100%;
    margin-left: auto;
    margin-right: 8px;
    // justify-content: flex-end;
    display: flex;
    flex-direction: column;
  }
}
