.coupon-card {
  position: relative;
  max-width: 600px;
  overflow: hidden;
  background: white;
  box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.2);
  input {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 6px;
    padding-bottom: 4px;
    padding-top: 4px;
    border: 2px dashed #8A8881;
    border-radius: 0px 6px 0px 6px;
  }
  p {
    font-size: 12px;
    text-align: center;
    opacity: .7;
    margin-bottom: 6px;
  }
  i {
    color: #8A8881;
    font-size: 20px;
    opacity: .7;
    position: absolute;
    top: 12px;
    transition: 0.3;
    &:hover {
      cursor: pointer;
      color: rgb(50, 50, 50);
    }
  }
  .copy-ico {
    right: 3rem;
  }
  .link-ico {
    right: 0.5rem;
  }
}
