.card-discount{
  width: 120px;
  background-color: #292B3B
}

.card-discount{
  p{
    font-size:20px;
    color: white;
  }
}

.card-body{
  font-size: 22px
}

.btn{
  background-color: #FF6100
}

.cupons {
  background-color: white;
}

.button {
  margin: 2em 1em;
}
