.footer {
  width: 90vw;
  margin-right: 5vw;
  margin-left: 5vw;
  background: rgba(255,255,255,0.4);
  display: flex;
  align-content: left;
  height: 7em;
  color: rgba(0,0,0,0.3);
  margin-top: 1em;
}
.footer-links {
  padding-left: 2em;
  display: flex;
  margin: auto 0 auto;
  color: black;
}
.footer-links a {
  color: black;
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 8px;
}
.footer-links a:hover {
  opacity: 0.8;
}
.footer p {
  color: black;
  margin: auto 0 auto;
  opacity: 0.8;
}

