.main-profile {
  .btn {
    border: none;
    font-family: "Montserrat";
    font-weight: 300;
    background-color: #FF6100;
    margin-left: -1rem;
    width: 24rem;
    color: white;
    border-color: #eee;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.6);
    border-radius: 0.125rem;
  }
  .btn:hover {
    font-weight: 500;
    opacity: 0.9;
    transition: all 0.2s ease 0s;
  }
}

